<!-- <div>
  <h2>RSVP</h2>
  <form  #form ="ngForm" (ngSubmit)="processForm(form)">
    Name<input type="text" placeholder="name" name="name" ngModel>
    Email<input type="text" placeholder="email" name="email" ngModel>
    Phone<input type="text" placeholder="phone" name="phone" ngModel>
    Attending 
    <input type="radio" name="attending" value="Yes" ngModel>
    <input type="radio" name="attending" value="No" ngModel>
    <button type="submit">submit</button>
  </form>
</div> -->

<mat-toolbar color="primary" fxLayout="row column" fxLayoutAlign="space-between center">
  <img src="/assets/apple.png" class="logo" width="50px">
  <span> Reservation </span>
  <button type="button" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<app-rsvp></app-rsvp>